.aboutMeContainer{
    display: flex;
    justify-content: space-between;
    //gap: 50px;
    padding: 20px;
}

.twoBoxes{
display: flex;
justify-content: space-between;
padding: 20px;


}
.myFace{
    width: 100%;
}

hr.solid{
    border-top: 4px solid $highlight1;
    width: 110px;

}

.aboutMeText{
    width: 100%
    
}

.resumeContainer{
    background-color: $primary1;
    padding: 10px;
}

.resumeLink{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ssContainer{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 40px;
    .textCenter{
        width: 50%;
        text-align: center;
    }
}
.solid{
    //padding: 0px 15px;
    border-left: 4px solid $highlight1;
}

//email section
.emailContainer{
    margin: 0;
    padding: 20px;
    background-color: $primary1;
}

.contactMe{
    font-family: 'Raleway';
    color: $secondary1;
}

label{
    color: $secondary1;
    font-family: 'Raleway';
}
