.aboutMeContainer{
    display: flex;
    justify-content: space-between;
    //gap: 50px;
    padding: 20px;
    @include respond{
        flex-direction: column;
    }
}

.twoBoxes{
display: flex;
justify-content: space-between;
padding: 20px;



}
.myFace{
    width: 100%;
}

hr.solid{
    border: 4px solid $highlight1;
    margin: 10px 0px 10px 0px;
    width: 110px;
    @include respond{
        width: 300px;
        margin: 12px auto;
    }
}

.aboutMeText{
    width: 100%;
    @include respond{
        text-align:center;
        p{
            text-align: left;
        }
    }
}

.resumeContainer{
    background-color: $primary1;
    padding: 10px;
}

.resumeLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: $secondary1;
    border-radius: 3px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14pt;
    color: $primary1;
    padding: 5px 15px;
    cursor: pointer;
}

.button:hover{
    background-color: $highlight1;
    cursor: pointer;
    transition: ease-in .3s;
}

.ssContainer{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 40px;
    line-height: 30pt;
    @include respond{
        padding: 0px;
    }
    .textCenter{
        width: 50%;
        text-align: center;
        padding: 40px 0px;
    }
    @include respond{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}
.solid{
    //padding: 0px 15px;
    border: 4px solid $highlight1;
    margin: 0px 15px 0px 15px;
    @include respond{
        margin: 0px;
        width: 300px;
    }
}

//email section
.emailContainer{
    margin: 0;
    padding: 20px;
    background-color: $primary1;
    
}

.emailBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactMe{
    font-family: 'Raleway';
    color: $secondary1;
    margin: 10px 0px;
    text-align: center;
    b{
        font-size: 14pt;
    }

}

#name, #email, #message{
    color: $fontcolor2;
    font-family: 'Raleway';
    text-align: left;
}

.row{
    padding: 8px;
}

.buttons{
    display: flex;
    //justify-content: center;
    justify-content: space-evenly;
    
}

input[type=submit], input[type=reset]{
    padding:5px 15px; 
    background:$primary2; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    font-family: 'Raleway';

}

input[type=submit]:hover,input[type=reset]:hover{
    padding:5px 15px; 
    background:$highlight1; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    font-family: 'Raleway';
}