.fullContainer{
    background-color: $secondary2;
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-evenly;
}

.bannerCont{
    display: flex;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    padding: 20px 0px;
    // padding: 15px;
    &-Art{
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
        width: 33%;
        height: 100%;
        transform: skewX(-10deg);
        // img{
        //     position: absolute;
        //     top:0;
        //     bottom: 0;
        //     height: 100%;
        //     width: 120%;
        //     object-fit: cover;
        //     transform: skewX(10deg);
        // }
    }
    &-Text{
        opacity: 0%;
        transition: opacity ease-in .3s;
        text-align: center;
    }
    &:hover, &:focus{
        .galleryArt{
            &-Art{
                img{
                    opacity: .5;
                    transition: opacity ease-in .3s;
                }
            }
            &-Text{
                color: $fontGallery;
                opacity: 1;
            }
        }
    }
}

