.fullContainer{
    background-color: $secondary2;
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-evenly;
}

.bannerCont{
    width: 25%;
    padding: 15px;
    &-Art{
        background-color: $primary1;
        overflow: hidden;
    }
    &-Text{
        opacity: 0%;
        transition: opacity ease-in .3s;
        text-align: center;
    }
    &:hover, &:focus{
        .galleryArt{
            &-Art{
                img{
                    opacity: .5;
                    transition: opacity ease-in .3s;
                }
            }
            &-Text{
                color: $fontGallery;
                opacity: 1;
            }
        }
    }
}

