.portContainer{
    background-color: $primary2;
    display: flex;
    flex-wrap: wrap;
}

.galleryContainer{
    background-color: $secondary2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryArt{
    width: 25%;
    padding: 15px;
    &-Cont{
        background-color: $primary1;
        overflow: hidden;
    }
    &-Text{
        opacity: 0%;
        transition: opacity ease-in .3s;
        text-align: center;
    }
    &:hover, &:focus{
        .galleryArt{
            &-Cont{
                img{
                    opacity: .5;
                    transition: opacity ease-in .3s;
                }
            }
            &-Text{
                color: $fontGallery;
                opacity: 1;
            }
        }
    }
}
