.portContainer{
    background-color: $primary2;
    // display: flex;
    // flex-wrap: wrap;
}

.galleryContainer{
    background-color: $secondary2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryArt{
    width: 33%;
    height: 250px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    &-Cont{
        background-color: $primary1;
        overflow: hidden;
        height:100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            &#cat{
                //object-position: top;
                object-position: 0px -20px;
            }
            &#cake{
                object-position: top;
            }
        }
    }
    &-Text{
        opacity: 0%;
        transition: opacity ease-in .3s;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover, &:focus{
        .galleryArt{
            &-Cont{
                img{
                    opacity: .5;
                    transition: opacity ease-in .3s;
                }
            }
            &-Text{
                color: $fontGallery;
                opacity: 1;
            }
        }
    }
}
