.portContainer{
    background-color: $primary2;
    // display: flex;
    // flex-wrap: wrap;
}

.galleryContainer{
    background-color: $secondary2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryArt{
    width: 33%;
    height: 300px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    &-Cont{
        background-color: $primary1;
        overflow: hidden;
        height:100%;
        img, video{
            height: 100%;
            width: 100%;
            object-fit: cover;
            &#typeface{
                object-position: top;
                //object-position: 0px -20px;
            }
            &#comic{
                object-position: top;
            }
            // &#lion{
            //     object-position: 0 -40px;
            // }
        }
    }
    &-Text{
        opacity: 0%;
        transition: opacity ease-in .3s;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover, &:focus{
        cursor: pointer;
        .galleryArt{
            &-Cont{
                img, video{
                    opacity: .3;
                    transition: opacity ease-in .3s;
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
            &-Text{
                color: $fontGallery;
                opacity: 1;
            }
        }
    }
}
